<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info">

  <!-- enable mongodb layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Mongo" />
  </extensions>
  
  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File" name="file" fileName="${basedir}\logs\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

   <!--write logs to mongodb-->
    <!--<target xsi:type="Mongo" name="mongo" databaseName="OnlineOrdering" collectionNames="Logs" connectionString="mongodb://localhost:27017/OnlineOrdering" IncludeDefaults="false">
      <property name="Date" layout="${date:format=yyyy-MM-dd HH:mm:ss}" />
      <property name="Level" layout="${level}" />
      <property name="Logger" layout="${logger}" />
      <property name="Message" layout="${message}" />
      <property name="Exception" layout="${exception:format=tostring}" />
      <property name="CallSite" layout = "${callsite:filename=true}" />
      <property name="StackTrace" layout="${stacktrace}" />
    </target>-->
    <target xsi:type="Mongo"
            name="mongo" databaseName="OnlineOrdering"
            collectionName="Logs"
            connectionString="mongodb://localhost:27017/OnlineOrdering"
            cappedCollectionSize="26214400">
      <property name="LongDate" layout="${longdate}" bsonType="DateTime" />
      <property name="Level" layout="${level}" />
      <property name="Logger" layout="${logger}"/>
      <property name="Message" layout="${message}" />
      <property name="Exception" layout="${exception:format=tostring}" />
      <property name="Url" layout="${aspnet-request-url}" />
      <property name="Action" layout="${aspnet-mvc-action}" />
      <property name="UserName" layout="${windows-identity}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--use file record log-->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--use mongodb record log-->
    <logger name="*" minlevel="Trace" writeTo ="mongo" />
  </rules>
</nlog>