<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="fasle"
      internalLogLevel="info"
      internalLogFile="">

  <!-- enable mongodb layout renderers -->
  <extensions>
    <add assembly="NLog.WindowsIdentity" />
    <add assembly="NLog.Mongo" />
  </extensions>
  
  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File" name="file" fileName="${basedir}\logs\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

   <!--write logs to mongodb-->
    <target xsi:type="Mongo" name="mongo" databaseName="OnlineOrdering" collectionNames="Logs" connectionString="mongodb://localhost:27017" IncludeDefaults="false">
      <Field name="Date" layout="${date:format=yyyy-MM-dd HH:mm:ss}" />
      <Field name="Level" layout="${level}" />
      <Field name="Logger" layout="${logger}" />
      <Field name="Message" layout="${message}" />
      <Field name="Exception" layout="${exception:format=tostring}" />
      <Field name="CallSite" layout = "${callsite:filename=true}" />
      <Field name="StackTrace" layout="${stacktrace}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--use file record log-->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--use mongodb record log-->
    <logger name="*" minlevel="Trace" writeTo ="mongo" />
  </rules>
</nlog>